Flask==3.0.3
flask_cors
numpy
gunicorn
uvicorn
scikit-learn
tensorflow==2.19.0
joblib
requests
pydantic
xgboost
pymongo
statsmodels
ollama
llama-index
python-dotenv
llama-index-llms-google-genai
llama-index-embeddings-google-genai